.container__portfolio {
  margin: 0;
  padding: 0.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
}
.card__portfolio {
  display: flex;
  flex-direction: column;

  border-radius: 0.5rem;
}

.portfolio__details {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  padding: 0.5rem;
}

.img__portfolio {
  height: 30rem;
  width: 100%;
  padding: 0.5rem 0.5rem 1rem;
}

.info__detail .text-detail {
  color: var(--color-darkcolor);
  text-align: left;
  font-size: 0.7rem;
}

/* ==================MEDIA QUERIES (smartphones - small devices) =========================== */

@media screen and (max-width: 767px) {
  /* .container {
    width: var(--container-width-sm);
  } */
}

/* ==================MEDIA QUERIES (tablets - medium devices) =========================== */

@media screen and (min-width: 768px) and (max-width: 1023px) {
  /* .container {
    width: var(--container-width-md);
  } */
}

/* ==================MEDIA QUERIES (desktop - large devices) =========================== */

@media screen and (min-width: 1024px) {
  /* .container {
    width: var(--container-width-lg);
  } */
}
