.container__imgbanner {
  clip-path: polygon(
    9.3rem 19%,
    9.3rem 0,
    100% 0,
    100% 78%,
    18.3rem 14.6rem,
    18.3rem 100%,
    0 100%,
    0 19%
  );
  border-radius: 1rem;
}

.img__banner {
  height: 18.75rem;
  width: 430px;
  border-radius: 1rem 1rem;
}

.btn__contact {
  position: relative;
  top: -300px;
}

.btn__about {
  position: relative;
  top: -60px;
  right: -150px;
}
