.container__banner {
  width: 100%;
  margin: 0%;
  padding: 0.5rem;
}
.container__imgbanner {
  border-radius: 1rem;
}

.img__banner {
  height: 300px;
  /* width: 26.875rem; */
  width: 100%;
  border-radius: 1rem 1rem;
}

.btn__contact {
  position: relative;
  top: -300px;
}

.btn__about {
  position: absolute;
  top: 247px;
  right: -1px;
}

.div-about {
  border-color: white;
  border-width: 6px;
  border-style: solid;
  border-width: 5px;
  border-color: yellow;
}

.banner {
  display: flex;
  flex-direction: column;
  position: relative;
}
