.navbar__container {
  z-index: 1000;
}
nav {
  width: 100%;
  padding: 0.5rem;
  background: var(--color-lightbrown);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-radius: 0.5rem;
}
.navbar__container nav {
  display: flex;
  /* float: right; */
}
.navbar__container a {
  margin: 0 1rem;
  text-decoration: none;
}

nav h3 {
  color: var(--color-red);
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
}

nav a {
  background: transparent;
  padding: 0.8rem;
  /* border-radius: 50%; */
  display: flex;
  justify-content: center;
  color: var(--color-red);
  rotate: 0deg;
  border-radius: 0.5rem;
}

nav a:hover {
  background: rgba(0, 0, 0, 0.5);
}

nav a.active {
  background: var(--color-darkcolor);
  color: var(--color-white);
}

.icons {
  height: 35px;
  width: 35px;
}

.navbar__container .nav-show-btn {
  color: black;
}

.navbar__container .nav-btn {
  display: none;
}

/* ==================MEDIA QUERIES (smartphones - small devices) =========================== */

@media screen and (max-width: 767px) {
  .icons {
    height: 20px;
    width: 20px;
  }
  nav h3 {
    color: var(--color-red);
    font-size: 0.7rem;
    font-weight: 500;
    text-align: center;
  }

  .navbar__container .nav-btn.nav-open-btn {
    z-index: 2;
  }
  .navbar__container .nav-btn.nav-close-btn {
    z-index: 1000;
  }
  .navbar__container .nav-btn {
    display: flex;
    visibility: visible;
    opacity: 1;
    position: fixed;
    right: 10px;
    top: 10px;
    /* z-index: 11; */
    background: var(--color-darkcolor);
    cursor: pointer;
    color: var(--color-red);
    border-radius: 0.5rem;
    padding: 5px;

    border: 2px solid var(--color-lightbrown);
  }

  .navbar__container nav {
    position: fixed;
    top: 20px;
    right: 4px;
    height: 65%;
    width: 3.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: var(--color-lightbrown);
    transition: var(--transition);
    transform: translateY(-100vh);
    margin-top: 0.5rem;
    z-index: 4;
  }

  @keyframes fadeout {
    0% {
      visibility: visible;
      opacity: 1;
    }
    50% {
      visibility: visible;
      opacity: 1;
    }
    100% {
      opacity: 0;
      visibility: hidden;
    }
  }

  .navbar__container .responsive_nav {
    transform: none;
    animation: 10s fadeout;
    animation-fill-mode: forwards;
    visibility: visible;
  }

  nav a {
    font-size: 1.5rem;
  }
}

/* ==================MEDIA QUERIES (tablets - medium devices) =========================== */

@media screen and (min-width: 481px) and (max-width: 768px) {
  .navbar__container nav {
    position: fixed;
    top: 20px;
    right: 4px;
    height: 85%;
    width: 3.5rem;
    gap: 0.5rem;
    background-color: var(--color-lightbrown);
    transition: var(--transition);
    margin-top: 1.4rem;
    z-index: 4;
    display: flex;
    flex-direction: column;
  }

  .icons {
    height: 15px;
    width: 15px;
  }
}

/* ==================MEDIA QUERIES (tablets - larger tablets or portrait) =========================== */

@media screen and (min-width: 769px) and (max-width: 1279px) {
}

/* ==================MEDIA QUERIES (desktop - large devices) =========================== */

@media screen and (min-width: 1280px) {
}
