.container__interest {
  margin: 0;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  position: relative;
}

.card__interest1 {
  display: flex;
  flex-direction: row;
  padding: 0 0 2rem 0;
}
.img__interest1 {
  width: 200px;
  height: 500px;
  margin-right: 1rem;
  border-radius: 0.5rem;
}

.card__interest2 {
  display: flex;
  flex-direction: row;
  padding: 0 0 2rem 0;
}

.img__interest2 {
  width: 200px;
  height: 500px;
  margin-right: 1rem;
  border-radius: 0.5rem;
  position: relative;
  left: 15px;
}
