.container__contact {
  margin: 0;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  position: relative;
}

.mail__container form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0 4rem;
}

#contact > h2 {
  border-bottom: 2px dotted;
  margin: 2rem 2rem;
  padding-bottom: 0.2rem;
}

.text-email {
  border-radius: 0.5rem;
  height: 2rem;
  padding-left: 1rem;
}
.textarea-email {
  height: 5rem;
  border-radius: 0.5rem;
  padding-left: 1rem;
}

.btn_sendmail {
  border: 2px solid var(--color-orange);
  background-color: transparent;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  width: 8rem;
  align-self: center;
  border-radius: 0.5rem;
  margin: 0.5rem;
}

button:hover {
  background-color: var(--color-red);
}

.contact__option {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact__icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: space-between;
}

.contact__icon > h4 {
  text-align: center;
  padding: 0;
}

.contact__option-icon {
  margin-right: 1rem;
}

.small-text {
  color: var(--color-orange);
}

::placeholder {
  color: var(--color-red);
  padding-left: 1rem;
  padding-top: 0.3rem;
  font-size: 0.8rem;
  font-family: 'Inter', sans-serif;
}

/* ==================MEDIA QUERIES (smartphones - small devices) =========================== */

@media screen and (min-width: 480px) {
  .container {
    width: var(--container-width-sm);
  }

  .mail__container form {
    gap: 0.5rem;
    padding: 0 5rem;
  }
}

/* ==================MEDIA QUERIES (tablets - medium devices) =========================== */

@media screen and (min-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }

  .mail__container form {
    gap: 0.5rem;
    padding: 0 10rem;
  }
}

/* ==================MEDIA QUERIES (desktop - large devices) =========================== */

@media screen and (min-width: 1680px) {
  .container {
    width: var(--container-width-lg);
  }
  .mail__container form {
    gap: 0.5rem;
    padding: 0 20rem;
  }
}
